.form *{
    display: block;
}
.form textarea{
    min-width: 400px;
    min-height: 150px;
}
.form button {
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    width: 30%;
    min-width: 120px;
    cursor: pointer;
    font-size: 18px;
    background-color: rgb(195, 76, 241);
    border: 2px solid black;
    transition: 0.2s;
    
    }
    .form button:hover{
        color: yellow;
        border-color: rgb(255, 161, 21);
        
    }